@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

$black: #1E142D;
$white: #C4BECE;
$bright-white: #fff7f8;
$dark-red: #ab1f65;
$red: #ff4f69;
$orange: #ff8142;
$yellow: #ffda45;
$green: #4ADB46;
$cyan: #49e7ec;
$blue: #3368dc;

$charw: 0.5em;
$charh: 1em;

@mixin text-link($colour, $char) {
    text-decoration: none;
    color: $colour;

    &:after {
        content: $char;
        background: $colour;
        color: $black;
        margin-left: $charw;
        padding: 0 $charw;
    }

    &:hover {
        font-weight: bold;
        background: $colour;
        color: $black;
    }
}

@mixin triangle-right($colour) {
    border-left: 0.7em solid $colour;
    border-top: 0.7em solid transparent;
    border-bottom: 0.7em solid transparent;
    margin-bottom: -0.35em;
    background: $black;
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline-block;
}

@mixin triangle-left($colour) {
    border-right: 0.7em solid $colour;
    border-top: 0.7em solid transparent;
    border-bottom: 0.7em solid transparent;
    margin-bottom: -0.35em;
    background: $black;
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline-block;
}

.ascii {
    background: $black;
    color: $white;
    font-family: "JetBrains Mono", monospace;

    a:not(.tag) {
        @include text-link($blue, "^");
    }

    a.internal {
        @include text-link($cyan, ">");
    }

    a.tag {
        background: $yellow;
        color: $black;

        &:before {
            content: '';
            @include triangle-left($yellow);
        }

        &:after {
            content: '';
            @include triangle-right($yellow);
        }

        &:hover {
            background: $bright-white;
            color: $blue;

            &:before {
                @include triangle-left($bright-white);
            }

            &:after {
                @include triangle-right($bright-white);
            }

        }
    }

    .box {
        background: $black;
        border: 2px solid $white;
        box-shadow: 0 0.25em 0 0.5em $black, 0 -0.25em 0 0.5em $black;
        margin: $charh $charw;
        padding: $charw;
    }

    hr {
        border: none;
        border-top: 2px solid $white;
        margin: $charw 0;

    }

    p {
        margin: 0;
    }

    strong,
    b,
    i {
        color: $bright-white;
    }

    h1 {
        background-color: $bright-white;
        color: $black;
        font-size: 100%;
        margin: 1em 0;

        &:before {
            content: '░';
        }

        &:after {
            content: '░';
            float: right;
        }
    }


    h2 {
        background-color: $white;
        color: $black;
        font-size: 100%;
        margin: 1em 0;

        &:before {
            content: '░';
        }

        &:after {
            content: '░';
            float: right;
        }
    }

    h3 {
        background-color: #c4bece;
        color: #1e142d;
        font-size: 100%;
        margin: 1em 0;

        /* NEW */
        &:before {
            content: "░░░"
        }

        &:after {
            content: "░░░";
            float: right
        }
    }


    button {
        background: $white;
        font-weight: bold;
        font-size: 100%;
        margin: 0 $charw;
        padding: 0 $charw;
        font-family: "JetBrains Mono", monospace;
        border: none;
        cursor: pointer;

        &:hover {
            background: $bright-white;
        }

        &.primary {
            background: $cyan;
            color: $black;

            &:hover {
                background: $bright-white;
            }
        }

        &.danger {
            background: $dark-red;

            &:hover {
                background: $red;
            }
        }
    }

    @mixin frame-title($colour) {
        background: $black;
        color: $colour;
        margin-top: -1.2em;
        padding: 0 0.5em;
        position: absolute;
        display: inline-block;
    }

    span.frame-title-yellow {
        @include frame-title(yellow);
    }

    span.frame-title {
        @include frame-title($bright-white);
    }

    span.frame-title-red {
        @include frame-title($red);
    }
}